body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
h1{ 
    font-size:50px ;
}
.orange-highlight{
    color: deepskyblue;
}
h2{
    font-size: 40px;
}
h3{
    font-size:40px ;
color: deepskyblue;} 
.bill-gates{
    font-size: 25px; 
    color: rgb(255, 0, 106);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding-left: 3%;
}
.half-width img{
    width: 45%; 
    height: 5%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.link-button{
    text-decoration: none;
background-color: tomato;
background-image: -webkit-linear-gradient(45deg  lightsalmon, tomato);
    padding: 10px 20px; 
    border-radius: 10px;
color: white;
font-weight: 700; 

}
.name-nafi{
    color: lime;
    font-size: 25px;
}
p1{
    font-size: 22px; 
color: midnightblue; 
text-align: left;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
}
h2{
    color: rgb(255, 166, 0); 

}
.single-experience{ width: 800px; 
    border: 30 px solid blueviolet;
    padding: 35px; 
    margin: 15px;
    
    box-shadow: 15px 15px 40px gray; 
    border-radius: 10px; 
    height: 70%;
   background-image: url(images/exp-bg.png); 
   background-repeat: no-repeat; 
  background-blend-mode: soft-light; 
  background-color: whitesmoke;
} 
p4{
    font-size: 25px;
}
#full-stack{
    border-left: 7px solid; 
    border-image: linear-gradient(180deg, red, blue); 
    border-image-slice: 1;
} 
#baby-web{
    border-left: 7px solid ;
    border-image : linear-gradient(190deg, blue, cyan); 
    border-image-slice: 1;
}
footer p{
    text-align: center;
} 