body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 70px; 
    color: rgb(79, 69, 143);
}
h2{
    font-size: 70px;
    color: tomato;
} 
.link-button{
    text-decoration: none;
background-color: tomato;
background-image: -webkit-linear-gradient(45deg  lightsalmon, tomato);
    padding: 10px 20px; 
    border-radius: 10px;
color: white;
font-weight: 700; 

} 
.half-width{
    width: 40%;
    float: left ;
    margin-left: 5%;
    padding-left: 2%; 
} 
.half-width img{
    width: 100%; 
    height: 10%; 
} 
section{
    height: 500px;
    padding-bottom: 300px; } 

  {
      box-sizing:border-box;
  } 
  .clm{
      float: right ;

      width: 33.33%; 
      right: auto;
  }
 .clm img {
     height: 150px; 
     width: 500px;
  right: 200px;

 } 
 .write{
     font-size: 35px;
color: rgb(68, 0, 255); 
text-align: center; 

font-style: oblique; 
font-weight: bold ; 
font-family: fantasy;
 } 
 h5{
font-size: 30px; 
color: whitesmoke; 
text-align: center
; 
 }

 #one-two{ 
        width: 800px;
        padding: 20px;
        border: 10px solid rgb(57, 22, 182);
        margin: 20px; 
        border-radius: 100px; 
        background-image: url(back.png); 
        position: absolute;
       
        height: 400px;
        top: 0;
        bottom: -4000px;
        left: 0;
        right: 0;
        margin: auto;
     }

     h3{
font-size: 30px; 
color: lawngreen;
text-align: center;
 }
p{
    color: darkslategrey; 
    font-size: 20px; 
    font-weight: bold;
    font-family: serif;
}