body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 70px; 
    color: rgb(79, 69, 143);
}
h2{
    font-size: 70px;
    color: tomato;
} 
.link-button{
    text-decoration: none;
background-color: tomato;
background-image: -webkit-linear-gradient(45deg  lightsalmon, tomato);
    padding: 10px 20px; 
    border-radius: 10px;
color: white;
font-weight: 700; 

} 
.half-width{
    width: 40%;
    float: left ;
    margin-left: 5%;
    padding-left: 2%; 
} 
.half-width img{
    width: 100%; 
    height: 10%; 
} 
section{
    height: 850px;
    padding-bottom: 200px; } 

  .clm{
      width: 100%;
      float: left;
  width: 33.33%; 
  padding: 3px;
    } 
  {
      box-sizing:border-box;
  } 
  .clm img{
      height: 300px;
  }